# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/src/problem2/logs
/src/problem2/*.log
/src/problem2/npm-debug.log*
/src/problem2/yarn-debug.log*
/src/problem2/yarn-error.log*
/src/problem2/pnpm-debug.log*
/src/problem2/lerna-debug.log*

/src/problem2/node_modules
/src/problem2/dist
/src/problem2/dist-ssr
/src/problem2/*.local

# Editor directories and files
/src/problem2/.vscode/*
/src/problem2/!.vscode/extensions.json
/src/problem2/.idea
/src/problem2/.DS_Store
/src/problem2/*.suo
/src/problem2/*.ntvs*
/src/problem2/*.njsproj
/src/problem2/*.sln
/src/problem2/*.sw?